* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 245, 245);
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  margin-bottom: 35px;
}

#grid-container > div {
  width: 150px;
  height: 150px;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.4s;
}

#grid-container > .active:hover {
  background-color: lightgray;
  cursor: pointer;
}

#grid-container > div > span {
  font-size: 4rem;
}

.orange {
  background-color: #FF9500;
}

.blue {
  background-color: #007AFF;
}

button {
  font-size: 1.5rem;
  background-color: transparent;
  border: 2px black solid;
  padding: 8px;
  border-radius: 10px;
}

#start-game-btn {
  color: green;
  font-weight: bold;
  transition: background-color 0.4s;
}

#start-game-btn:hover {
  background-color: rgb(211, 237, 211);
  cursor: pointer;
}